body
{
    margin: 0;
    background-image: url('../assets/stars-on-black.png');
    background-size: 500px;
    font-size: 15px;
    color: white;
    font-family: monospace;
}

#game-canvas
{
    border: 2px solid whitesmoke;
    border-radius: 3px;
    margin: 0 auto;

    width: 600px;
    height: 600px;
    display: block;
    margin: 10px auto;
}

#game-title {
    text-align: center;
    margin: 15px auto;
    font-size: 5em;
}

#current-score {
    text-align: center;
    font-size: 1.5em;
}